@{
    ViewData["Title"] = "Fit for Life";
}
<div class="row">
    <div class="col-sm-6">
<h2>Investments For Life</h2>

<p>
    Investments for Life is an app that helps you plan for the future!
</p>
<img src="~/Images/invest.jpg"
     class="rounded-circle"/>"
   
<p>You can track your monthly investments and calculate yearly interest rates</p>
<p>across the span of years to figure out the best way to make your investment grow!</p>
<p>
    We are always looking for new ideas. Please submit features you would like included
    using our new features form: @Html.ActionLink("Desired Features", "FeatureSuggestionForm")
</p>
</div>
</div>