@{ ViewData["Title"] = "Contact Us!"; }

<img src="~/Images/contact.jpg" alt="global network"
     style="  width: 50%;
        outline: 5px black solid;
        outline-offset: 10px;
        float: right;
        margin-top: 2%;
        background-color: teal;" />
<h2>Fit for Life</h2>
<h3>Headquarters</h3>
<address>
    9999 Investment Avenue<br />
    Traverse City, MI 49685<br />
    <abbr title="Phone">Phone:</abbr>
    900.555.1111
</address>

<address>
    <strong>United States:</strong>   <a href="mailto:investmeforlife@money.com">investmeforlife@money.com</a><br />
    <strong>Europe:</strong>   <a href="mailto:europeinvestmeforlife@money.com">investmeforlife@money.com</a><br />
    <strong>Africa:</strong> <a href="mailto:africainvestmeforlife@money.com">investmeforlife@money.com</a><br />
    <strong>Austrailia:</strong> <a href="mailto:austrailiainvestmeforlife@money.com">investmeforlife@money.com</a><br />
</address>